:root {
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  /* background-color: #f5f5f5; */
  background-color: lightgray;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

html {
  scrollbar-gutter: stable;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

body {
  min-height: 100dvh;

  &:has(dialog[open]) {
    overflow: hidden;
  }
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 10vh 15px;
  text-align: center;
  display: grid;
  place-items: center;
}

.card {
  padding: 30px 20px;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  background: linear-gradient(180deg, #62b8f6 0%, #2c79c1 100%);
  color: #fff;
  transition: all 0.4s;

  .card__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .card__title--temp {
    font-size: 4rem;
    font-weight: 500;
  }

  .card__date {
    font-size: 1rem;
  }

  .card__search {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;

    .card__input {
      padding: 10px;
      width: 100%;
      font-size: 16px;
      flex: 1 1 auto;
      min-width: 0;
      height: 50px;
      border-radius: 25px;
      outline: none;
      transition: box-shadow 0.2s;

      &:focus-visible {
        outline: 3px solid pink;
        outline-offset: 1px;
      }

      &:hover {
        box-shadow: 0 0 10px pink;
      }
    }

    .card__btn {
      border-radius: 50%;
      padding: 10px;
      width: 50px;
      height: 50px;
      flex-shrink: 0;
      display: grid;
      place-items: center;
      outline: none;
      cursor: pointer;
      transition: box-shadow 0.2s;

      &:focus-visible {
        outline: 3px solid pink;
        outline-offset: 1px;
      }

      &:hover {
        box-shadow: 0 0 10px pink;
      }
    }
  }

  .card__weather {
    transition: all 0.4s;
    margin: 20px 0;

    .card__title--city {
      margin-bottom: 10px;
    }

    .card__title--temp {
      margin-bottom: 10px;
    }

    .card__weather-image {
      width: 60px;
      height: 60px;
    }

    .card__block {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .card__details {
    --size-icon: 50px;
    transition: all 0.4s;
    color: #fff;
    display: flex;
    justify-content: center;
    column-gap: 25%;

    b {
      font-size: 1.2rem;
      font-weight: 600;
    }

    .card__col .card__icon {
      margin: 0 auto;

      svg {
        width: var(--size-icon);
        height: var(--size-icon);
      }

      width: var(--size-icon);
      height: var(--size-icon);
    }
  }

  &.--hide {
    .card__weather {
      /* display: none; */
      opacity: 0;
      visibility: hidden;
      height: 0;
      /* transition: all 0.4s; */
    }

    .card__details {
      opacity: 0;
      visibility: hidden;
      height: 0;
      /* transition: all 0.4s; */
    }
  }
}